python-dotenv
anthropic
ipython
pillow
fastapi[all]
uvicorn[standard]
setuptools
python-multipart
redis
#opencv-python

SQLAlchemy
alembic

tortoise-orm[asyncpg]
aerich

httpx
Scrapy
numpy

pydantic
pydantic[email]
pydantic-settings

passlib

python-jose
bcrypt
nats-py
jinja2

psycopg2-binary
uvicorn

loguru
pytest
asyncpg

transformers
psutil
fastapi-mail

aiofiles
torch
starlette

firebase-admin
PyJWT

graypy
prometheus_fastapi_instrumentator
rfc5424-logging-handler
sentry-sdk[fastapi]

aiohttp
openai
google-auth